// color variable

$main-bg-color:#fff;
$main-bg-2-color:#f1f1f1;
$notification-bg:#e6f3ee;
$btn-bg-active:#28a03b;
$bg-color1:#29acc4;
$bg-color2:#5bc784;
$bg-color3:#e672a3;
$bg-color4:#8191e8;

$main-txt-color:#000;
$heading-txt-color:#101817;
$heading2-txt-color:#4c4c4c;
$heading3-txt-color:#0e1817;

$active-element-color:rgb(129 193 75 / 23%);

$msg-alert:#54c38b;
$alert-icon:#7cb150;

$border-box:#eaeaea;
$border-thin:#e6e6e6;
$border-bold:#e3e3e3;
$border-2-bold:#e2e2e2;


$align:flex;